<section class="text-gray-600 body-font bg-amber-50 font-josefin text-justify text-2xl">
  
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="/assets/home3.png">
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
            <img src="/assets/perfil1.png" alt="Alma" class="w-full max-w-[350px] rounded-full">
                    </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-2xl">Alma Ovando</h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">Raclette knausgaard hella meggs normcore williamsburg enamel pin sartorial venmo tbh hot chicken gentrify portland.</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-2xl mb-2 ">Mercado:</p>
          <p class="leading-relaxed text-lg mb-4">Nuestro mercado es bastante diverso ya que se puede acoplar a gusto de cada cliente, de
            momento tenemos clientes mujeres, hombres, niñas y jovenes.</p>
          
            <p class="leading-relaxed text-2xl mb-2 ">Competencia:</p>
            <p class="leading-relaxed text-lg mb-4">De momento no hemos visto este producto en Guatemala, se encuentra en otros paises pero el
              costo de envio y compra es muy alto a comparacion de nuestros costos.</p>

              <p class="leading-relaxed text-2xl mb-2 ">Negocio Rentable:</p>
              <p class="leading-relaxed text-lg mb-4">Nuestra idea de negocio es enfocada en la moda y diseños personalizados. Las bolsas/carteras y
                accesorios son un productoa que se utiliza bastante y en el dia a dia.</p>

                <p class="leading-relaxed text-2xl mb-2 ">Conclusion:</p>
                <p class="leading-relaxed text-lg mb-4">Deseamos ser parte de un programa de emprendimiento para expander nuestro conocimiento
                  sobre manejo de negocios, para mejorar nuestra idea y tener un excelente servicio al cliente.
                  Tambien deseamos que nuestra marca se de a conocer mas.</p>
          
        </div>
      </div>
    </div>

</section>