<section class="text-gray-600 body-font bg-amber-50 font-josefin text-justify text-2xl">
  
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-xl h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center object-position-bottom h-full w-full" src="/assets/home3_1.png">
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
            <img src="/foto.png" alt="Alma" class="w-full max-w-[350px] rounded-full">
                    </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-2xl">Alma Ovando</h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base text-justify">Alma Eugenia y Alma Lucía trabajan juntas en Beading by Alma con una armonía perfecta que combina sus talentos y pasiones. Alma Eugenia, con su visión creativa y clásica, se encarga de diseñar y elaborar cada pieza, asegurando la calidad y perfección en cada detalle. Su eficiencia e inteligencia garantizan que cada accesorio sea una obra de arte. Por otro lado, Alma Lucía aporta su estilo elegante con un toque de street wear, diseñando carteras y llaveros personalizados que añaden un POP de color a cualquier outfit. Juntas, fusionan sus habilidades para crear productos únicos y especiales, reflejando el vínculo inquebrantable que las une y su amor compartido por la moda y los accesorios.
            </p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-2xl mb-2 ">Quienes Somos?</p>
          
           
            <p class="leading-relaxed text-lg mb-4 justify-self-start text-justify">Beading by Alma es un hermoso emprendimiento de madre e hija, donde Alma Eugenia y Alma Lucía combinan su talento y pasión por la creación de piezas únicas.
              Juntas, transformamos perlas y otros materiales en verdaderas obras de arte, cada una con su propio toque especial. Este proyecto no solo refleja nuestro amor por la moda y los accesorios, sino también el vínculo que nos une.
              
              Cada creación es una celebración de nuestra creatividad compartida y del cariño que ponemos en cada detalle, haciendo que cada pieza sea tan especial como la relación que las inspira.
              
              Nos apasiona crear carteras hechas de perlas, fusionando la elegancia clásica con un toque moderno. La moda es nuestra inspiración constante, y nos encanta diseñar accesorios únicos que reflejen la individualidad y el estilo de cada persona. Cada pieza es elaborada con dedicación y atención al detalle, buscando siempre destacar y ofrecer algo especial. Nuestro objetivo es que cada accesorio no solo complemente un atuendo, sino que también cuente una historia y haga sentir a quien lo lleva verdaderamente especial.</p>
           
          
          
        </div>
        
      </div>
    </div>

</section>