<section class="text-gray-600 body-font bg-amber-50 font-josefin text-justify text-lg">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car1.jpeg">
          </a> 
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
          
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car2.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">Shooting Stars</h2>
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car3.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car4.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">The 400 Blows</h2>
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car5.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car6.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">Shooting Stars</h2>
          
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car7.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/assets/car8.jpeg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">The 400 Blows</h2>
            <a href="https://wa.me/40559553?text=Me encuentro interesado en la cartera CODIGO11" target="_blank" class="p-2 w-full">
              <button class=" text-white bg-teal-600 border-0 py-1 px-8 focus:outline-none hover:bg-cyan-500 rounded text-lg">Consulta Existencias</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>